*.out
*.test
*.xml
*.swp
fmt.log
lint.log
cover.html
.envrc
.idea/
.tmp/
.mkdocs-virtual-env/
vendor/
jaeger-ui-build/
examples/hotrod/hotrod*
cmd/standalone/standalone-linux
cmd/agent/agent*
cmd/collector/collector*
cmd/query/query*
cmd/query/jaeger-ui-build/
crossdock/crossdock
crossdock/cmd/
crossdock/scripts/
run-crossdock.log
