[submodule "idl"]
	path = idl
	url = https://github.com/jaegertracing/jaeger-idl.git
	branch = main
[submodule "jaeger-ui"]
	path = jaeger-ui
	url = https://github.com/jaegertracing/jaeger-ui.git
	branch = main
