*.out
*.test
*.xml
*.swp
fmt.log
import.log
lint.log
cover.html
.envrc
.idea/
.tmp/
.mkdocs-virtual-env/
vendor/
examples/hotrod/hotrod
examples/hotrod/hotrod-*
examples/memstore-plugin/memstore-plugin
cmd/all-in-one/all-in-one-*
cmd/agent/agent
cmd/agent/agent-*
cmd/collector/collector
cmd/collector/collector-*
cmd/ingester/ingester
cmd/ingester/ingester-*
cmd/query/query
cmd/query/query-*
cmd/docs/*.md
cmd/docs/*.rst
cmd/docs/*.1
cmd/docs/*.yaml
crossdock/crossdock-*
run-crossdock.log
