*.out
*.test
*.xml
*.swp
.fmt.log
.import.log
.lint.log
cover.html
.envrc
.idea/
.vscode/
.tmp/
.mkdocs-virtual-env/
vendor/
examples/hotrod/hotrod
examples/hotrod/hotrod-*
examples/memstore-plugin/memstore-plugin
cmd/all-in-one/all-in-one-*
cmd/agent/agent
cmd/agent/agent-*
cmd/anonymizer/anonymizer
cmd/anonymizer/anonymizer-*
cmd/collector/collector
cmd/collector/collector-*
cmd/ingester/ingester
cmd/ingester/ingester-*
cmd/query/query
cmd/query/query-*
cmd/tracegen/tracegen
cmd/tracegen/tracegen-*
cmd/docs/*.md
cmd/docs/*.rst
cmd/docs/*.1
cmd/docs/*.yaml
crossdock/crossdock-*
run-crossdock.log
cmd/opentelemetry/cmd/collector/opentelemetry-collector-*
cmd/opentelemetry/cmd/agent/opentelemetry-agent-*
cmd/opentelemetry/cmd/ingester/opentelemetry-ingester-*
cmd/opentelemetry/cmd/all-in-one/opentelemetry-all-in-one-*
__pycache__
