[submodule "idl"]
	path = idl
	url = https://github.com/uber/jaeger-idl.git
[submodule "jaeger-ui"]
	path = jaeger-ui
	url = https://github.com/uber/jaeger-ui
[submodule "zipkin-api"]
	path = zipkin-api
	url = https://github.com/openzipkin/zipkin-api
