apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

bases:
  - ../hotrod

resources:
  - service.yaml

patches:
  - target:
      group: apps
      version: v1
      kind: Deployment
      name: example-hotrod
    patch: |-
      - op: add
        path: /spec/template/spec/containers/-
        value:
          image: jaegertracing/all-in-one:latest
          name: jaeger
          ports:
            - containerPort: 6831
              name: tracing-jaeger
            - containerPort: 16686
              name: frontend-jaeger
          resources:
            limits:
              cpu: 100m
              memory: 100M
            requests:
              cpu: 100m
              memory: 100M
