CREATE TABLE IF NOT EXISTS otel_traces
(
    Timestamp DateTime64(9) CODEC(Delta, ZSTD(1)),
        TraceID Array(UInt8) CODEC(ZSTD(1)),
        SpanID Array(UInt8) CODEC(ZSTD(1)),
        ParentSpanID Array(UInt8) CODEC(ZSTD(1)),
        TraceState String CODEC(ZSTD(1)),
        SpanName String CODEC(ZSTD(1)),
        SpanKind String CODEC(ZSTD(1)),
        Duration DateTime64(9) CODEC(Delta, ZSTD(1)),
        StatusCode String CODEC(ZSTD(1)),
        StatusMessage String CODEC(ZSTD(1)),

        SpanAttrBoolKeys Array(String),
        SpanAttrBoolValues Array(Bool),
        SpanAttrDoubleKeys Array(String),
        SpanAttrDoubleValues Array(Float64),
        SpanAttrIntKeys Array(String),
        SpanAttrIntValues Array(Int64),
        SpanAttrStrKeys Array(String),
        SpanAttrStrValues Array(String),
        SpanAttrBytesKeys Array(String),
        SpanAttrBytesValues Array(Array(UInt8)),

        ScopeName String CODEC(ZSTD(1)),
        ScopeVersion String CODEC(ZSTD(1)),
        ScopeAttrBoolKeys Array(String),
        ScopeAttrBoolValues Array(Bool),
        ScopeAttrDoubleKeys Array(String),
        ScopeAttrDoubleValues Array(Float64),
        ScopeAttrIntKeys Array(String),
        ScopeAttrIntValues Array(Int64),
        ScopeAttrStrKeys Array(String),
        ScopeAttrStrValues Array(String),
        ScopeAttrBytesKeys Array(String),
        ScopeAttrBytesValues Array(Array(UInt8)),

        ResourceAttrBoolKeys Array(String),
        ResourceAttrBoolValues Array(Bool),
        ResourceAttrDoubleKeys Array(String),
        ResourceAttrDoubleValues Array(Float64),
        ResourceAttrIntKeys Array(String),
        ResourceAttrIntValues Array(Int64),
        ResourceAttrStrKeys Array(String),
        ResourceAttrStrValues Array(String),
        ResourceAttrBytesKeys Array(String),
        ResourceAttrBytesValues Array(Array(UInt8)),

        Events Nested(
            Name String,
            Timestamp DateTime64(9),
            BoolAttrs Nested (
                key String,
                value Bool
            ),
            DoubleAttrs Nested (
                key String,
                value Float64
            ),
            IntAttrs Nested (
                key String,
                value Int64
            ),
            StrAttrs Nested (
                key String,
                value String
            ),
            BytesAttrs Nested (
                key String,
                value Array(UInt8)
            )
        ),

        Links Nested(
            TraceID Array(UInt8),
            SpanID Array(UInt8),
            TraceState String,
            BoolAttrs Nested (
               key String,
               value Bool
            ),
            DoubleAttrs Nested (
               key String,
               value Float64
            ),
            IntAttrs Nested (
                key String,
                value Int64
            ),
            StrAttrs Nested (
                key String,
                value String
            ),
            BytesAttrs Nested (
                key String,
                value Array(UInt8)
            )
        ),

    INDEX idx_trace_id TraceID TYPE bloom_filter(0.001) GRANULARITY 1,
    INDEX idx_duration Duration TYPE minmax GRANULARITY 1
)
ENGINE = MergeTree()
PARTITION BY toDate(Timestamp)
ORDER BY (SpanName, toUnixTimestamp(Timestamp), Duration, TraceID)
SETTINGS index_granularity=8192, ttl_only_drop_parts = 1;