CREATE TABLE IF NOT EXISTS otel_traces
(
    Timestamp DateTime64(9) CODEC(Delta, ZSTD(1)),
    TraceID Array(byte) CODEC(ZSTD(1)),
    SpanID Array(byte) CODEC(ZSTD(1)),
    ParentSpanID Array(byte) CODEC(ZSTD(1)),
    TraceState String CODEC(ZSTD(1)),
    SpanName String CODEC(ZSTD(1)),
    SpanKind String CODEC(ZSTD(1)),
    Duration DateTime64(9) CODEC(Delta, ZSTD(1)),
    StatusCode String CODEC(ZSTD(1)),
    StatusMessage String CODEC(ZSTD(1)),

    SpanAttributesBoolKey Array(String),
	SpanAttributesBoolValue Array(Bool),
    SpanAttributesDoubleKey Array(String),
	SpanAttributesDoubleValue Array(Float64),
    SpanAttributesIntKey Array(String),
    SpanAttributesIntValue Array(Int64),
    SpanAttributesStrKey Array(String),
    SpanAttributesStrValue Array(String),
    SpanAttributesBytesKey Array(String),
    SpanAttributesBytesValue Array(Array(byte)),

    ScopeName String CODEC(ZSTD(1)),
    ScopeVersion String CODEC(ZSTD(1)),
    ScopeAttributesBoolKey Array(String),
	ScopeAttributesBoolValue Array(Bool),
    ScopeAttributesDoubleKey Array(String),
	ScopeAttributesDoubleValue Array(Float64),
    ScopeAttributesIntKey Array(String),
    ScopeAttributesIntValue Array(Int64),
    ScopeAttributesStrKey Array(String),
    ScopeAttributesStrValue Array(String),
    ScopeAttributesBytesKey Array(String),
    ScopeAttributesBytesValue Array(Array(byte)),

    ResourceAttributesBoolKey Array(String),
	ResourceAttributesBoolValue Array(Bool),
    ResourceAttributesDoubleKey Array(String),
	ResourceAttributesDoubleValue Array(Float64),
    ResourceAttributesIntKey Array(String),
	ResourceAttributesIntValue Array(Int64),
    ResourceAttributesStrKey Array(String),
	ResourceAttributesStrValue Array(String),
   	ResourceAttributesBytesKey Array(String),
	ResourceAttributesBytesValue Array(Array(byte)),

    EventsName Array(String),
    EventsTimestamp Array(DateTime64(9)) CODEC(Delta, ZSTD(1)),
    EventAttributesBoolKey Array(Array(String)),
	EventAttributesBoolValue Array(Array(Bool)),
    EventAttributesDoubleKey Array(Array(String)),
	EventAttributesDoubleValue Array(Array(Float64)),
    EventAttributesIntKey Array(Array(String)),
    EventAttributesIntValue Array(Array(Int64)),
    EventAttributesStrKey Array(Array(String)),
    EventAttributesStrValue Array(Array(String)),
    EventAttributesBytesKey Array(Array(String)),
    EventAttributesBytesValue Array(Array(Array(byte))),

    LinksTraceId Array(Array(byte)),
    LinksSpanId Array(Array(byte)),
    LinksTraceStatus Array(String),
    LinkAttributesBoolKey Array(Array(String)),
	LinkAttributesBoolValue Array(Array(Bool)),
    LinkAttributesDoubleKey Array(Array(String)),
	LinkAttributesDoubleValue Array(Array(Float64)),
    LinkAttributesIntKey Array(Array(String)),
    LinkAttributesIntValue Array(Array(Int64)),
    LinkAttributesStrKey Array(Array(String)),
    LinkAttributesStrValue Array(Array(String)),
    LinkAttributesBytesKey Array(Array(String)),
    LinkAttributesBytesValue Array(Array(Array(byte))),

    INDEX idx_trace_id TraceID TYPE bloom_filter(0.001) GRANULARITY 1,
    INDEX idx_duration Duration TYPE minmax GRANULARITY 1
)
ENGINE = MergeTree()
PARTITION BY toDate(Timestamp)
ORDER BY (SpanName, toUnixTimestamp(Timestamp), Duration, TraceID)
SETTINGS index_granularity=8192, ttl_only_drop_parts = 1;