service:
  extensions: [jaeger_storage, jaeger_query, healthcheckv2]
  pipelines:
    traces:
      receivers: [otlp]
      processors: [batch]
      exporters: [jaeger_storage_exporter]
  telemetry:
    resource:
      service.name: jaeger_query
    logs:
      level: debug

extensions:
  healthcheckv2:
    use_v2: true
    http:
      endpoint: 0.0.0.0:16687

  jaeger_query:
    storage:
      traces: remote_storage

  jaeger_storage:
    backends:
      remote_storage:
        grpc:
          endpoint: jaeger-remote-storage:17271
          tls:
            insecure: true

receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317

processors:
  batch:

exporters:
  jaeger_storage_exporter:
    trace_storage: remote_storage
