service:
  extensions: [jaeger_storage, jaeger_query, healthcheckv2]
  pipelines:
    traces:
      receivers: [otlp, jaeger, zipkin]
      processors: [batch]
      exporters: [jaeger_storage_exporter]
  telemetry:
    resource:
      service.name: jaeger
    logs:
      level: debug

extensions:
  healthcheckv2:
    use_v2: true
    http:
      endpoint: 0.0.0.0:14269

  jaeger_query:
    storage:
      traces: remote_storage

  jaeger_storage:
    backends:
      remote_storage:
        grpc:
          endpoint: jaeger-remote-storage:17271
          tls:
            insecure: true

receivers:
  otlp:
    protocols:
      grpc:
      http:

  jaeger:
    protocols:
      grpc:
        endpoint: 0.0.0.0:14250
      thrift_binary:
        endpoint: 0.0.0.0:6832
      thrift_compact:
        endpoint: 0.0.0.0:6831
      thrift_http:
        endpoint: 0.0.0.0:14268

  zipkin:
    endpoint: 0.0.0.0:9411

processors:
  batch:

exporters:
  jaeger_storage_exporter:
    trace_storage: remote_storage
