global:
  scrape_interval: 10s
  evaluation_interval: 15s
scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']
  - job_name: 'node'
    static_configs:
      - targets: ['node-exporter:9100']
  - job_name: 'jaeger-collector'
    static_configs:
      - targets: ['jaeger-collector:14269']