service:
  extensions: [jaeger_storage, jaeger_query, healthcheckv2]
  pipelines:
    traces:
      receivers: [otlp, jaeger]
      processors: [batch]
      exporters: [jaeger_storage_exporter]
  telemetry:
    resource:
      service.name: jaeger
    logs:
      level: info

extensions:
  healthcheckv2:
    use_v2: true
    http:

  jaeger_query:
    storage:
      traces: cassandra_storage

  jaeger_storage:
    backends:
      cassandra_storage:
        cassandra:
          schema:
            keyspace: "jaeger_v1_test"
          connection:
            servers: ["scylladb:9042"]
            tls:
              insecure: true

receivers:
  otlp:
    protocols:
      grpc:
      http:

  jaeger:
    protocols:
      grpc:
      thrift_binary:
      thrift_compact:
      thrift_http:

processors:
  batch:

exporters:
  jaeger_storage_exporter:
    trace_storage: cassandra_storage
