name: Build all-in-one

on:
  workflow_call:

permissions:
  contents: read
  packages: read  # This allows the runner to pull from GHCR

jobs:
  all-in-one:
    runs-on: ubuntu-latest
    timeout-minutes: 30 # max + 3*std over the last 2600 runs

    steps:
    - uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
      with:
        egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs

    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      with:
        submodules: true

    - name: Fetch git tags
      run: git fetch --prune --unshallow --tags

    - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
      with:
        go-version: 1.26.x

    - name: Log in to GHCR
      uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - uses: ./.github/actions/setup-node.js

    - uses: ./.github/actions/setup-branch

    - run: make install-ci

    - uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0

    - name: Define BUILD_FLAGS var if running on a Pull Request or Merge Queue
      run: |
        case ${GITHUB_EVENT_NAME} in
          pull_request|merge_group)
            echo "BUILD_FLAGS=-l -p linux/$(go env GOARCH)" >> ${GITHUB_ENV}
            ;;
          *)
            echo "BUILD_FLAGS=" >> ${GITHUB_ENV}
            ;;
        esac

    - name: Build, test, and publish all-in-one image
      run: |
        bash scripts/build/build-all-in-one-image.sh ${{ env.BUILD_FLAGS }} v2
      env:
        DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
        QUAY_TOKEN: ${{ secrets.QUAY_TOKEN }}
