name: Build docker images

on:
  workflow_call:

# See https://github.com/ossf/scorecard/blob/main/docs/checks.md#token-permissions
permissions:
  contents: read

jobs:
  docker-images:
    runs-on: ubuntu-latest

    steps:
    - uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
      with:
        egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs

    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      with:
        submodules: true

    - name: Fetch git tags
      run: git fetch --prune --unshallow --tags

    - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
      with:
        go-version: 1.26.x

    - uses: ./.github/actions/setup-node.js

    - uses: ./.github/actions/setup-branch

    - run: make install-ci

    - uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0

    - name: Build only linux/amd64 container images for a Pull Request
      if: github.ref_name != 'main'
      # -D disables images with debugger
      run: bash scripts/build/build-upload-docker-images.sh -D -p linux/amd64

    - name: Build and upload all container images
      if: github.ref_name == 'main'
      run: bash scripts/build/build-upload-docker-images.sh
      env:
        DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
        QUAY_TOKEN: ${{ secrets.QUAY_TOKEN }}
