name: CIT Hotrod

on:
  push:
    branches: [main]

  pull_request:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ (github.event.pull_request && github.event.pull_request.number) || github.ref || github.run_id }}
  cancel-in-progress: true

# See https://github.com/ossf/scorecard/blob/main/docs/checks.md#token-permissions
permissions:
  contents: read

jobs:
  hotrod:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        runtime: [docker, k8s]
        jaeger-version: [v1, v2]
          
    steps:
    - uses: step-security/harden-runner@91182cccc01eb5e619899d80e4e971d6181294a7 # v2.10.1
      with:
        egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs

    - uses: actions/checkout@d632683dd7b4114ad314bca15554477dd762a938 # v4.2.0
      with:
        submodules: true

    - name: Fetch git tags
      run: |
        git fetch --prune --unshallow --tags

    - uses: actions/setup-go@41dfa10bad2bb2ae585af6ee5bb4d7d973ad74ed # v5.1.0
      with:
        go-version: 1.23.x

    - uses: ./.github/actions/setup-node.js

    - uses: ./.github/actions/setup-branch

    - uses: docker/setup-qemu-action@49b3bc8e6bdd4a60e6116a5414239cba5943d3cf # v3.2.0

    - name: Define BUILD_FLAGS var if running on a Pull Request
      run: |
        case ${GITHUB_EVENT_NAME} in
          pull_request)
            echo "BUILD_FLAGS=-l -p linux/amd64" >> ${GITHUB_ENV}
            ;;
          *)
            echo "BUILD_FLAGS=" >> ${GITHUB_ENV}
            ;;
        esac
    - name: Install kubectl
      if: matrix.runtime == 'k8s'
      uses: azure/setup-kubectl@v3
      with:
        version: 'latest'
  
    - name: Install Kustomize
      if: matrix.runtime == 'k8s'
      uses: imranismail/setup-kustomize@v2

    - name: Create k8s Kind Cluster
      if: matrix.runtime == 'k8s'
      uses: helm/kind-action@v1

    - name: Build, test, and publish hotrod image
      run:  bash scripts/build-hotrod-image.sh ${{ env.BUILD_FLAGS }} -v ${{ matrix.jaeger-version }} -r ${{ matrix.runtime }}
      env:
        DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
        QUAY_TOKEN: ${{ secrets.QUAY_TOKEN }}
