name: CIT Kafka

on:
  workflow_call:

concurrency:
  group: cit-kafka-${{ github.workflow }}-${{ (github.event.pull_request && github.event.pull_request.number) || github.ref || github.run_id }}
  cancel-in-progress: true

# See https://github.com/ossf/scorecard/blob/main/docs/checks.md#token-permissions
permissions:  # added using https://github.com/step-security/secure-workflows
  contents: read

jobs:
  kafka:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        jaeger-version: [v1, v2]  # Adjust if there are specific versions of Jaeger
    name: kafka ${{ matrix.jaeger-version }}
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@91182cccc01eb5e619899d80e4e971d6181294a7 # v2.10.1
      with:
        egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs

    - uses: actions/checkout@d632683dd7b4114ad314bca15554477dd762a938 # v4.2.0

    - uses: actions/setup-go@41dfa10bad2bb2ae585af6ee5bb4d7d973ad74ed # v5.1.0
      with:
        go-version: 1.23.x

    - name: Run Kafka integration tests
      id: test-execution
      run: bash scripts/kafka-integration-test.sh -j ${{ matrix.jaeger-version }}
            
    - name: Upload Metrics Artifact
      uses: actions/upload-artifact@v4
      if: ${{ matrix.jaeger-version }} == "v2"
      with:
              name: kafka-metrics-${{ matrix.jaeger-version }}
              path: ./metrics/kafka_metrics.txt
              retention-days: 60

    - name: Upload coverage to codecov
      uses: ./.github/actions/upload-codecov
      with:
        files: cover.out
        flags: kafka-${{ matrix.jaeger-version }}
