name: CIT OpenSearch

on:
  workflow_call:

# See https://github.com/ossf/scorecard/blob/main/docs/checks.md#token-permissions
permissions:  # added using https://github.com/step-security/secure-workflows
  contents: read

jobs:
  opensearch:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        version:
        - major: 1.x
          distribution: opensearch
          jaeger: v1
        - major: 2.x
          distribution: opensearch
          jaeger: v1
        - major: 2.x
          distribution: opensearch
          jaeger: v2
        - major: 3.x
          distribution: opensearch
          jaeger: v2
    name: ${{ matrix.version.distribution }} ${{ matrix.version.major }} ${{ matrix.version.jaeger }}
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
      with:
        egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs

    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      with:
        submodules: true

    - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
      with:
        go-version: 1.26.x

    - uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0

    - name: Run ${{ matrix.version.distribution }} integration tests
      id: test-execution
      run: bash scripts/e2e/elasticsearch.sh ${{ matrix.version.distribution }} ${{ matrix.version.major }} ${{ matrix.version.jaeger }}

    - uses: ./.github/actions/verify-metrics-snapshot
      if: matrix.version.jaeger == 'v2'
      with:
        snapshot: metrics_snapshot_opensearch
        artifact_key: metrics_snapshot_opensearch_${{ matrix.version.major }}

    - name: Upload coverage to codecov
      uses: ./.github/actions/upload-codecov
      with:
        files: cover.out,cover-index-cleaner.out,cover-index-rollover.out
        flags: ${{ matrix.version.distribution }}-${{ matrix.version.major }}-${{ matrix.version.jaeger }}
