name: E2E Tests

on:
  workflow_call:

permissions:
  contents: read

jobs:
  badger:
    uses: ./.github/workflows/ci-e2e-badger.yaml

  cassandra:
    uses: ./.github/workflows/ci-e2e-cassandra.yml

  elasticsearch:
    uses: ./.github/workflows/ci-e2e-elasticsearch.yml

  grpc:
    uses: ./.github/workflows/ci-e2e-grpc.yml

  kafka:
    uses: ./.github/workflows/ci-e2e-kafka.yml

  memory:
    uses: ./.github/workflows/ci-e2e-memory.yaml

  opensearch:
    uses: ./.github/workflows/ci-e2e-opensearch.yml

  query:
    uses: ./.github/workflows/ci-e2e-query.yml

  clickhouse:
    uses: ./.github/workflows/ci-e2e-clickhouse.yml

  spm:
    uses: ./.github/workflows/ci-e2e-spm.yml

  tailsampling:
    uses: ./.github/workflows/ci-e2e-tailsampling.yml