name: Test SPM

on:
  merge_group:
  push:
    branches: [main]

  pull_request:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ (github.event.pull_request && github.event.pull_request.number) || github.ref || github.run_id }}
  cancel-in-progress: true

# See https://github.com/ossf/scorecard/blob/main/docs/checks.md#token-permissions
permissions:
  contents: read

jobs:
  spm:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        mode:
        - name: v1
          binary: all-in-one
          metricstore: prometheus
        - name: v2
          binary: jaeger
          metricstore: prometheus
        - name: v2 with ES
          binary: jaeger
          metricstore: elasticsearch
        - name: v2 with OS
          binary: jaeger
          metricstore: opensearch

    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@ec9f2d5744a09debf3a187a3f4f675c53b671911 # v2.13.0
      with:
        egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs

    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      with:
        submodules: true

    - name: Fetch git tags
      run: |
        git fetch --prune --unshallow --tags

    - uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5.5.0
      with:
        go-version: 1.25.x

    - name: Setup Node.js version
      uses: ./.github/actions/setup-node.js
      
    - name: Run SPM Test
      run:  bash scripts/e2e/spm.sh -b ${{ matrix.mode.binary }} -m ${{ matrix.mode.metricstore }}

