name: E2E Tests

on:
  workflow_call:

permissions:
  contents: read

jobs:
  badger:
    uses: ./.github/workflows/ci-e2e-badger.yaml

  cassandra:
    uses: ./.github/workflows/ci-e2e-cassandra.yml

  elasticsearch:
    uses: ./.github/workflows/ci-e2e-elasticsearch.yml

  grpc:
    uses: ./.github/workflows/ci-e2e-grpc.yml

  kafka:
    uses: ./.github/workflows/ci-e2e-kafka.yml

  memory:
    uses: ./.github/workflows/ci-e2e-memory.yaml

  opensearch:
    uses: ./.github/workflows/ci-e2e-opensearch.yml

  query:
    uses: ./.github/workflows/ci-e2e-query.yml

  clickhouse:
    uses: ./.github/workflows/ci-e2e-clickhouse.yml

  spm:
    uses: ./.github/workflows/ci-e2e-spm.yml

  tailsampling:
    uses: ./.github/workflows/ci-e2e-tailsampling.yml

  upload_pr_number:
    name: Save and Upload PR Number as Artifact
    runs-on: ubuntu-latest
    steps:
      - name: Save PR number as artifact
        if: github.event_name == 'pull_request'
        run: echo "${{ github.event.number }}" > pr_number.txt
      - name: Upload PR number artifact
        if: github.event_name == 'pull_request'
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6
        with:
          name: pr_number
          path: pr_number.txt