name: CIT Kafka

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  kafka:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - uses: actions/setup-go@v2
      with:
        go-version: ^1.15

    - name: Run kafka integration tests
      run: bash scripts/travis/kafka-integration-test.sh
