name: CIT OpenSearch

on:
  push:
    branches: [main]

  pull_request:
    branches: [main]

# See https://github.com/ossf/scorecard/blob/main/docs/checks.md#token-permissions
permissions:  # added using https://github.com/step-security/secure-workflows
  contents: read

jobs:
  opensearch:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version:
        - major: 1.x
          image: 1.3.7
          distribution: opensearch
        - major: 2.x
          image: 2.3.0
          distribution: opensearch
    name: ${{ matrix.version.distribution }} ${{ matrix.version.major }}
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@03bee3930647ebbf994244c21ddbc0d4933aab4f
      with:
        egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs

    - uses: actions/checkout@8f4b7f84864484a7bf31766abe9204da3cbe65b3
      with:
        submodules: true

    - name: Fetch git tags
      run: |
        git fetch --prune --unshallow --tags

    - uses: actions/setup-go@4d34df0c2316fe8122ab82dc22947d607c0c91f9
      with:
        go-version: 1.20.x

    - name: Install tools
      run: make install-ci

    - uses: docker/setup-qemu-action@e81a89b1732b9c48d79cd809d8d81d79c4647a18

    - name: Run opensearch integration tests
      run: bash scripts/es-integration-test.sh ${{ matrix.version.distribution }} ${{ matrix.version.image }}
