name: Unit Tests

on:
  workflow_call:

permissions:
  contents: read

jobs:
  unit-tests:
    permissions:
      checks: write
    runs-on: ubuntu-latest
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
      with:
        egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs

    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

    - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
      with:
        go-version: 1.26.x
        cache-dependency-path: ./go.sum

    # download dependencies separately to keep unit test step's output cleaner
    - name: go mod download
      run: go mod download

    - name: Install test deps
      # even though the same target runs from test-ci, running it separately makes for cleaner log in GH workflow
      run: make install-test-tools

    - name: Run unit tests
      run: make test-ci

    - name: Upload coverage to codecov
      uses: ./.github/actions/upload-codecov
      with:
        files: cover.out
        flags: unittests
