name: Unit Tests on Go Tip

on:
  merge_group:
  push:
    branches: [main]

permissions:
  contents: read

jobs:
  unit-tests-go-tip:
    permissions:
      checks: write
    runs-on: ubuntu-latest
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@91182cccc01eb5e619899d80e4e971d6181294a7 # v2.10.1
      with:
        egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs

    - uses: actions/checkout@d632683dd7b4114ad314bca15554477dd762a938 # v4.2.0

    - name: Install Go Tip
      uses: ./.github/actions/setup-go-tip

    - name: Install test deps
      # even though the same target runs from test-ci, running it separately makes for cleaner log in GH workflow
      run: make install-test-tools

    - name: Run unit tests
      run: make test-ci

    - name: Lint
      run: echo skip linting on Go tip
