name: Unit Tests on Go Tip

on:
  push:
    branches: [main]

permissions:
  contents: read

jobs:
  unit-tests-go-tip:
    permissions:
      checks: write
    runs-on: ubuntu-latest
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@63c24ba6bd7ba022e95695ff85de572c04a18142 # v2.7.0
      with:
        egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs

    - uses: actions/checkout@44c2b7a8a4ea60a981eaca3cf939b5f4305c123b # v4.1.5

    - name: Install Go Tip
      uses: ./.github/actions/setup-go-tip

    - name: Install test deps
      # even though the same target runs from test-ci, running it separately makes for cleaner log in GH workflow
      run: make install-test-tools

    - name: Run unit tests
      run: make test-ci

    - name: Lint
      run: echo skip linting on Go tip
