name: "Waiting for Author"

on:
  pull_request_target:
    types: [synchronize]
  pull_request_review_comment:
    types: [created]
  issue_comment:
    types: [created]

permissions:
  pull-requests: write
  issues: write

jobs:
  triage:
    if: ${{ github.event.issue.pull_request || github.event.pull_request }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Manage Waiting for Author Label
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8
        with:
          script: |
            const script = require('./.github/scripts/waiting-for-author.js')
            await script({github, context, core})
